*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../assets/images/pokemon_wallpaper01_1680.jpg");
    background-repeat: repeat;
    text-align: center;    
    min-height: 100vh;
}
main{
    display: inline-block;
    margin-top: 2%;
    position: relative;
    padding: 15px;
}
.pokedex{
    width: 100%;
    max-width: 425px;
}
.pokemon-img{
    position: absolute;
    bottom: 59%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 15%;
}
.pokemon-dados{
    position: absolute;
    font-weight: 600;
    color: #4b4a4a;
    bottom: 40%;
    left: 30%;
    font-size: clamp(8px, 5vw, 32px) ;
}
.dados-pokemon .pokename{
    position: absolute;
    font-weight: 600;
    color: #0a0a0ad8;
    bottom: 52%;
    right: 70%;
    font-size: clamp(8px, 5vw, 32px) ;
}
.dados-pokemon .pokemon-Att{
    position: absolute;
    font-weight: 600;
    color: #0a0a0ad8;
    bottom: 47%;
    right: 72%;
    font-size: clamp(8px, 5vw, 32px) ;
}
.dados-pokemon .pokeid{
    position: absolute;
    font-weight: 600;
    color: #0a0a0ad8;
    bottom: 52%;
    left: 59%;
    font-size: clamp(8px, 5vw, 32px) ;
}
.dados-pokemon .pokemon-Def{
    position: absolute;
    font-weight: 600;
    color: #0a0a0ad8;
    bottom: 47%;
    left: 59%;
    font-size: clamp(8px, 5vw, 32px) ;
}
.pokemon-nome{
    color: #161616;
    text-transform: capitalize;
}
.form{
    position: absolute;
    width: 65%;
    top: 64%;
    left: 13.5%;
}
.descricao{
    position: absolute;
    display: inline-block;
    top: 85%;
    left: 25%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1em);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    padding: 15px;
}
.descricao a{
    text-decoration: none;
    color: white;
}
.descricao:active{
    box-shadow: inset -4px 6px 0 #222;
    font-size: 0.9rem;
}
.search{
    width: 100%;
    padding: 4%;
    outline: nome;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #161616;
    font-size: clamp(8px, 5vw, 1em);
    box-shadow: -2px 3px 0 rgba(121, 120, 120, 0.533), -5px 7px 0 rgba(56, 56, 56, 0.533);
}
.buttons{
    position: absolute;
    top: 75%;
    left: 16%;
    width: 65%;
    display: flex;
    transform: translate(-5%, 0); 
    gap: 10px;   
}
.button{
    width: 140px;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1em);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}
.button:active{
    box-shadow: inset -4px 6px 0 #222;
    font-size: 0.9rem;
}
.voltar{
    width: 80px;
    padding: 10px;
    margin: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1em);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    float: left
}
.voltar:active{
    box-shadow: inset -4px 6px 0 #222;
    font-size: 0.9rem;
}
.voltar a{
    text-decoration: none;
    color: #fff;
}
@media (max-width: 280px) {
    .descricao{
        position: absolute;
        display: inline-block;
        top: 83%;
        height: 8%;
        left: 18%;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: clamp(8px, 5vw, 1em);
        font-weight: 600;
        color: white;
        background-color: #444;
        box-shadow: -2px 3px 0 rgb(107, 54, 54), -4px 6px 0 #000;
        padding: 15px;
    }
    .descricao p{
        margin-top: -7px;
    }
    .descricao a{
        text-decoration: none;
        color: white;
    }
    .descricao:active{
        box-shadow: inset -4px 6px 0 #222;
        font-size: 0.9rem;
    }
    .button > .p{
        margin-top: -10px;
    }
    .buttons{
        position: absolute;
        top: 73%;
        left: 16%;
        width: 190px;
        height: 33px;
        display: flex;
        transform: translate(-5%, 0); 
        gap: 10px;   
    }
    .button{
        width: 100%;
        padding: 4%;
        border: 2px solid #000;
        border-radius: 5px;
        font-size: clamp(8px, 5vw, 1em);
        font-weight: 600;
        color: white;
        background-color: #444;
        box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    }
    .button:active{
        box-shadow: inset -4px 6px 0 #222;
        font-size: 0.9rem;
    }
  }